/* CSS styles for the index page */

main > div:nth-of-type(1) {
    margin: 0 auto;
    width: 83.333333%;
}

main > div:nth-of-type(2) {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 91.666667%;
}

@media (min-width: 1024px) {
    .main > div:nth-of-type(1) {
        width: 33.333333%;
    }

    main > div:nth-of-type(2) {
        width: 66.666667%;
    }
}

/* Uncomment if needed */
/* .chat-container {
  min-height: 8rem;
  width: 66.666667%;
  border: 2px solid;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
} */
