.item-container {
    min-height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    width: 91.666667%;

    border-radius: 0.5rem;

    color: #374151;
    box-shadow:
        0 2px 4px 3px rgba(0, 0, 0, 0.1),
        0 10px 20px -2px rgba(0, 0, 0, 0.1);
    background-color: light-dark(
        var(--list-item-color-lightscheme),
        var(--list-item-color-darkscheme)
    );
    align-items: center;
    color: light-dark(
        var(--text-color-lightscheme),
        var(--text-color-darkscheme)
    );
}

.item-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.delete-button {
    margin: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    aspect-ratio: 1;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.125rem;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.item-name-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.item-name {
    position: relative;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.2;
}

@media (min-width: 1024px) {
    .item-name {
        font-size: 1.875rem;
    }
}

.purchased-button {
    margin: auto;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    aspect-ratio: 1;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.125rem;
    background-color: #bbf7d0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.purchase-button {
    margin: auto;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    aspect-ratio: 1;
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    border-radius: 0.125rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-width: 1px;
    cursor: pointer;
}

.icon {
    margin: auto;

    color: #9ca3af;
}
