/* CSS styles for the add item form */

form {
    display: flex;
    height: 100%;
    width: 100%;
    color: black;
    position: relative;
}

form input[type="text"] {
    margin: auto;
    height: 100%;
    width: 100%;
    padding-left: 0.75rem;
    text-align: center;
    font-size: 1.25rem;
    position: absolute;
}

.hidden-button {
    position: absolute;
    left: -100%;
}

.button {
    right: 0;
    z-index: 10;
    margin: 0.25rem;
    margin-top: auto;
    margin-left: auto;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0.25rem;
    background-color: light-dark(
        var(--homelink-color-lightscheme),
        var(--homelink-color-darkscheme)
    );
    cursor: pointer;
    z-index: 1;
}

form .button-active .icon {
    transform: scale(110%);
}

.icon {
    margin: auto;
    height: 2rem;
    width: 2rem;
}
