/* CSS styles for the add item form */

form {
    display: flex;
    height: 100%;
    width: 100%;
    color: black;
}

form input[type="text"] {
    z-index: 10;
    margin: auto;
    height: 100%;
    width: 100%;
    padding-left: 0.75rem;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
}

.hidden-button {
    position: absolute;
    left: -100%;
}

.button {
    right: 0;

    margin: 0.25rem;
    margin-top: auto;
    margin-left: auto;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0.25rem;
    background-color: #dcfce7;
    cursor: pointer;
    z-index: 1;
}

.button-active {
    z-index: 20;
    background-color: #bbf7d0;
}

.icon {
    margin: auto;
    height: 3rem;
    width: 3rem;
}
