@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
::before,
::after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}

html {
    color-scheme: light dark;
    font-size: 1rem;
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family:
        ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto;
    --homelink-color-darkscheme: #1a5f8c;
    --homelink-color-lightscheme: #3498db;
    --list-item-color-lightscheme: #e0f2fe;
    --list-item-color-darkscheme: #2b4d63;
    --text-color-lightscheme: #000000;
    --text-color-darkscheme: #e0f2fe;
}
body {
    padding: 0;
    line-height: inherit;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100dvh;
    max-width: 1200px;
    margin: auto;
    background-color: light-dark(white, rgb(20, 29, 44));
}
header {
    transition: all 0.3s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all 0.3s ease;
    color: rgb(203 213 225);
}

a[href="/"] {
    border-radius: 0.25rem;
    padding: 0.125rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: light-dark(
        var(--homelink-color-lightscheme),
        var(--homelink-color-darkscheme)
    );
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    color: light-dark(black, white);
}
ul,
ol {
    padding: 0;
}
button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
}
a {
    color: inherit;
    text-decoration: inherit;
}
img,
video {
    max-width: 100%;
    height: auto;
}

.barlow {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
}
