@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family:
        ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto;
}

body {
    padding: 0;
    margin: 0;
    line-height: inherit;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100dvh;
    max-width: 1200px;
    margin: auto;
    background-color: white;
}
.barlow {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
}

header {
    transition: all 0.3s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all 0.3s ease;
}

.dark header {
    background-color: rgb(156 163 175);
}

.dark nav {
    background-color: rgb(30 41 59);
    color: rgb(203 213 225);
}

a[href="/"] {
    border-radius: 0.25rem;
    background-color: rgb(186 230 253);
    padding: 0.125rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    outline: 1px solid rgb(71 85 105);
    transition: all 0.3s ease;
}

.dark a[href="/"] {
    background-color: rgb(3 105 161);
}

main {
    transition: all 0.3s ease;
}

.dark main {
    background-color: rgb(30 41 59);
}
