/* CSS styles for the create list form */

form {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

form input[type="text"] {
    flex: 1;
    border-radius: 0.125rem;
    background-color: white;
    margin-right: 1rem;
    text-align: center;
    font-size: 1.25rem;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    color: rgb(48, 47, 47);
}

form button {
    aspect-ratio: 1;
    border-radius: 0.25rem;
    background-color: light-dark(
        var(--homelink-color-lightscheme),
        var(--homelink-color-darkscheme)
    );
}

form .button-active .icon {
    transform: scale(110%);
}

.icon {
    margin: auto;
    height: 2rem;
    width: 2rem;
}

.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
